{% extends 'base.html' %}

{% block content %}

    <div class="row justify-content-center" style="margin: 5%">
        <div class="col-md-5">
            <h1 class="row justify-content-center">Введите новый пароль</h1>
            <form method="post">
                <p>Пожалуйста, введите новый пароль дважды, чтобы мы могли убедиться в правильности написания.</p>
                {% csrf_token %}
                {{ form.as_p }}
                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-grey mb-3">Изменить мой пароль</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}