{% extends 'base.html' %}

{% block content %}

    <div class="row justify-content-center" style="margin: 5%">
        <div class="col-md-5">
            <h1 class="row justify-content-center">Востановление пароля</h1>
            <form method="post">
                <p><b>Забыли пароль? Введите свой адрес электронной почты ниже, и мы вышлем вам инструкцию, как установить новый пароль.</b></p>
                {% csrf_token %}
                {{ form.as_p }}
                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-grey mb-3">Восстановить мой пароль</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}