{% extends 'base.html' %}
{%  load static %}

{% block content %}
    <div class="row justify-content-center" style="margin: 5%">

        <h2 class="row justify-content-center mb-4">
            {% if profile_item.profile.name %}
                Профиль пользователя<br> {{ profile_item.profile.name }}
            {% else %}
                Профиль пользователя<br> {{ profile_item.email }}
            {% endif %}
        </h2>


        <div class="row justify-content-center">

            {% if profile_item.profile.photo %}
                <img class="mb-2" alt="profile_item.profile.name" src="{{ profile_item.profile.photo.url }}" style="width: auto; max-height: 300px" >
            {% else %}
                <img class="mb-2" alt="profile_item.profile.name" src="{% static 'img/default.png' %}" style="max-width: 300px; max-height: 300px" >
            {% endif %}

            {% if profile_item.type == 'CO' %}
                <div style="text-align: center">
                    <p><b>Название компании:</b> {{ profile_item.profile.name }}</p>
                    <p><b>E-mail:</b> {{ profile_item.email }}</p>
                    <p><b>Контактное лицо:</b> {{ profile_item.profile.contact_person }} </p>
                    <p><b>О компании:</b> {{ profile_item.profile.about }}</p>
                </div>
            {% else %}
                <div style="text-align: center">
                    <p><b>Имя пользователя:</b> {{ profile_item.profile.name }}</p>
                    <p><b>E-mail:</b> {{ profile_item.email }}</p>
                    <p><b>О Пользователе:</b> {{ profile_item.profile.about }}</p>
                </div>
            {% endif %}
        </div>

        <h2 class="row justify-content-center mt-3 mb-3">Объявления пользователя</h2>
        <div class="row">
            {% for item in ads_list %}
                <div class="col-md-6">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            {% if item.author.type == 'IM' %}
                                {% if item.author.profile.name %}
                                    <strong class="d-inline-block mb-2 text-grey">{{ item.author.profile.name }}</strong>
                                {% else %}
                                    <strong class="d-inline-block mb-2 text-grey">{{ item.author.email }}</strong>
                                {% endif %}
                            {% else %}
                                {% if item.author.profile.name %}
                                    <strong class="d-inline-block mb-2 text-purple">{{ item.author.profile.name }}</strong>
                                {% else %}
                                    <strong class="d-inline-block mb-2 text-purple">{{ item.author.email }}</strong>
                                {% endif %}
                            {% endif %}
                            <h3 class="mb-0">{{ item.title|truncatechars:40 }}</h3>
                            <div class="mb-1 text-muted">{{ item.updated_at|date:"Y-m-d H:i" }}</div>
                            <p class="mb-auto">{{ item.content|safe|truncatechars:75 }}</p>
                            <a href="{{ item.get_absolute_url }}" class="stretched-link"></a>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            {% if item.author.profile.photo %}
                                <img class="bd-placeholder-img" width="200" height=auto src="{{ item.author.profile.photo.url }}">
                            {% else %}
                                <img class="bd-placeholder-img" width="200" height=auto src="{% static 'img/default.png' %}">
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% empty %}
                <p class="m-3">Пользователь пока еще не создал ни одного объявления.</p>
            {% endfor %}
        </div>


    </div>
{% endblock %}