{% extends 'base.html' %}
{% load static %}
{% block content %}

    <h2 class="row justify-content-center mt-3 mb-5 mx-1">Информация для компаний</h2>

    <div class="row ">
        <div class="col-md-6 mx-lg-5 ">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum gravida lobortis tortor at pharetra. Praesent ac tempor libero. Aliquam enim eros, tincidunt eu odio tempus, ullamcorper accumsan tellus. Nunc vulputate nunc sit amet libero molestie ornare. Nam molestie, purus fermentum mollis rutrum, turpis ex sagittis nibh, sodales consectetur justo tellus ac lectus. Morbi volutpat purus ac ante convallis bibendum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum gravida lobortis tortor at pharetra. Praesent ac tempor libero. Aliquam enim eros, tincidunt eu odio tempus, ullamcorper accumsan tellus. Nunc vulputate nunc sit amet libero molestie ornare. Nam molestie, purus fermentum mollis rutrum, turpis ex sagittis nibh, sodales consectetur justo tellus ac lectus. Morbi volutpat purus ac ante convallis bibendum.</p>
        </div>
        <div class="col-md-4 mb-3">
            <img src="{% static 'img/company_info.jpg' %}" style="max-width: 100%">
        </div>
    </div>

    <div class="row ">
        <div class="col-md-4 mx-lg-5">
            <img src="{% static 'img/company_info.jpg' %}" style="max-width: 100%">
        </div>
        <div class=" col-md-6 mb-3 ">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum gravida lobortis tortor at pharetra. Praesent ac tempor libero. Aliquam enim eros, tincidunt eu odio tempus, ullamcorper accumsan tellus. Nunc vulputate nunc sit amet libero molestie ornare. Nam molestie, purus fermentum mollis rutrum, turpis ex sagittis nibh, sodales consectetur justo tellus ac lectus. Morbi volutpat purus ac ante convallis bibendum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum gravida lobortis tortor at pharetra. Praesent ac tempor libero. Aliquam enim eros, tincidunt eu odio tempus, ullamcorper accumsan tellus. Nunc vulputate nunc sit amet libero molestie ornare. Nam molestie, purus fermentum mollis rutrum, turpis ex sagittis nibh, sodales consectetur justo tellus ac lectus. Morbi volutpat purus ac ante convallis bibendum.</p>
        </div>

    </div>

{% endblock %}
