{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="row justify-content-center" style="margin: 5%">

        <h2 class="row justify-content-center mb-5">Редактирование объявления</h2>

        <div class="col-md-8">

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <p>Загруженные изображения:</p>
                <div class="row">
                    {% for item in current_ad.images.all %}
                        <div class="card" style="width: 16rem;">
                            <img class="card-img-top" src="{{ item.img.url }}" alt="Card image cap">
                            <div class="card-body">
                                <a href="{{ item.img.url }}" class="card-link">Открыть</a>
                                <a href="{% url 'remove_img' item.id %}" class="card-link">Удалить</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-grey btn-lg mb-3">Сохранить изменения</button><br>
                </div>

            </form>




        </div>
    </div>

{% endblock %}