{% extends 'base.html' %}
{% load static %}
{% block content %}
    <style>
        @media screen and (min-width: 320px) {
            .bg-banner-image {background-image: url({% static 'img/slide2.jpg' %})}
        }
        @media screen and (min-width: 800px) {
            .bg-banner-image {background-image: url({% static 'img/slide3.jpg' %})}
        }
        @media screen and (min-width: 1200px) {
            .bg-banner-image {background-image: url({% static 'img/slide4.jpg' %})}
        }
    </style>
    <div class="p-4 p-md-5 mb-4  rounded bg-banner-image">
        <div class="col-md-6 px-0 banner-text">
            <h1 class="display-3 fst-italic">Добро пожаловать на сайт "Дом ремонта 21"</h1>
            <p class="lead my-3">Здесь вы можете найти специалиста по ремонтым работам для квартиры/дома, а если вы мастер или компания, то можете предложить ваши услуги</p>
        </div>
    </div>
    <div class="row">

        {% for item in list_ads %}
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        {% if item.author.type == 'IM' %}
                            {% if item.author.profile.name %}
                                <strong class="d-inline-block mb-2 text-grey">{{ item.author.profile.name }}</strong>
                            {% else %}
                                <strong class="d-inline-block mb-2 text-grey">{{ item.author.email }}</strong>
                            {% endif %}
                        {% else %}
                            {% if item.author.profile.name %}
                                <strong class="d-inline-block mb-2 text-purple">{{ item.author.profile.name }}</strong>
                            {% else %}
                                <strong class="d-inline-block mb-2 text-purple">{{ item.author.email }}</strong>
                            {% endif %}
                        {% endif %}
                        <h3 class="mb-0">{{ item.title|truncatechars:40 }}</h3>
                        <div class="mb-1 text-muted">{{ item.updated_at|date:"Y-m-d H:i" }}</div>
                        <p class="mb-auto">{{ item.content|safe|truncatechars:75 }}</p>
                        <a href="{{ item.get_absolute_url }}" class="stretched-link"></a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        {% if item.author.profile.photo %}
                            <img class="bd-placeholder-img" width="200" height=auto src="{{ item.author.profile.photo.url }}">
                        {% else %}
                            <img class="bd-placeholder-img" width="200" height=auto src="{% static 'img/default.png' %}">
                        {% endif %}
                    </div>
                </div>
            </div>

        {% empty %}
            <p class="m-3">Опубликованных объявлений не обнаружено.</p>
        {% endfor %}
        {% if  page_obj.has_other_pages %}
            <div >
                <nav aria-label="...">
                    <ul class="pagination" style="display: block; text-align: center">

                        {% if page_obj.has_previous %}
                            <li class="page-item" style="display: inline-block">
                                <a class="page-link page-link-grey" href="?page={{ page_obj.previous_page_number }}">Назад</a>
                            </li>
                        {% endif %}

                        {% for p in page_obj.paginator.page_range %}
                            {% if page_obj.number == p %}
                                <li class="page-item " style="display: inline-block" aria-current="page">
                                    <a class="page-link page-link-grey page-link-grey-active" href="?page={{ p }}">{{ p }}</a>
                                </li>
                            {% elif p > page_obj.number|add:-3 and p < page_obj.number|add:3 %}
                                <li class="page-item" style="display: inline-block">
                                    <a class="page-link page-link-grey" href="?page={{ p }}">{{ p }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <li class="page-item" style="display: inline-block">
                                <a class="page-link page-link-grey" href="?page={{ page_obj.next_page_number }}">Вперед</a>
                            </li>
                        {% endif %}

                    </ul>
                </nav>
            </div>
        {% endif %}
    </div>

{% endblock %}
