{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h2 class="mt-3">Поиск по запросу {{ search_value }}</h2>
    <nav class="mt-3">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-master-tab" data-bs-toggle="tab" data-bs-target="#nav-master" type="button" role="tab" aria-controls="nav-master" aria-selected="true">Услуги мастеров</button>
            <button class="nav-link" id="nav-company-tab" data-bs-toggle="tab" data-bs-target="#nav-company" type="button" role="tab" aria-controls="nav-company" aria-selected="false">Услуги компаний</button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-master" role="tabpanel" aria-labelledby="nav-master-tab">
            <div class="row">
                <div class="row">
                    {% for item in master_ads %}
                        <div class="col-md-6">
                            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                                <div class="col p-4 d-flex flex-column position-static">
                                    <strong class="d-inline-block mb-2 text-grey">{{ item.author.profile.name }}</strong>
                                    <h3 class="mb-0">{{ item.title|truncatechars:40 }}</h3>
                                    <div class="mb-1 text-muted">{{ item.updated_at|date:"Y-m-d H:i" }}</div>
                                    <p class="mb-auto">{{ item.content|safe|truncatechars:75 }}</p>
                                    <a href="{{ item.get_absolute_url }}" class="stretched-link"></a>
                                </div>
                                <div class="col-auto d-none d-lg-block">
                                    {% if item.author.profile.photo %}
                                        <img class="bd-placeholder-img" width="200" height=auto src="{{ item.author.profile.photo.url }}">
                                    {% else %}
                                        <img class="bd-placeholder-img" width="200" height=auto src="{% static 'img/default.png' %}">
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <p class="m-3">Объявлений по данному типу пользователя не обнаружено.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-company" role="tabpanel" aria-labelledby="nav-company-tab">
            <div class="row ">
                <div class="row">
                    {% for item in company_ads %}
                        <div class="col-md-6">
                            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                                <div class="col p-4 d-flex flex-column position-static">
                                    <strong class="d-inline-block mb-2 text-grey">{{ item.author.profile.name }}</strong>
                                    <h3 class="mb-0">{{ item.title|truncatechars:40 }}</h3>
                                    <div class="mb-1 text-muted">{{ item.updated_at|date:"Y-m-d H:i" }}</div>
                                    <p class="mb-auto">{{ item.content|safe|truncatechars:75 }}</p>
                                    <a href="{{ item.get_absolute_url }}" class="stretched-link"></a>
                                </div>
                                <div class="col-auto d-none d-lg-block">
                                    {% if item.author.profile.photo %}
                                        <img class="bd-placeholder-img" width="200" height=auto src="{{ item.author.profile.photo.url }}">
                                    {% else %}
                                        <img class="bd-placeholder-img" width="200" height=auto src="{% static 'img/default.png' %}">
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <p class="m-3">Объявлений по данному типу пользователя не обнаружено.</p>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>



{% endblock %}
