#header,
.module h2, .module caption, .inline-group h2 {
    background-color: #686C5E;
    color: #fff;
}

#branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: #fff;
}

div.breadcrumbs {
    background: #979a8f;
}

